/* Tree core styles */
.tree {
  margin: 1em;
}

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tree input ~ ul {
  display: none;
}

.tree input:checked ~ ul {
  display: block;
}

/* Tree rows */
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
}

.tree ul li {
  padding: 1em 0 0 1em;
}

.tree > li:last-child {
  padding-bottom: 0;
}

/* Tree labels */
.tree_label {
  position: relative;
  display: inline-block;
}

label.tree_label,
.label_l2 {
  cursor: pointer;
}

label.tree_label:hover,
.label_l2:hover {
  color: #666;
}

/* Tree expanded icon */
//parent l1 icon
label.tree_label:before {
  background: #fff;
  color: rgba(105, 200, 114, 1);
  border: 2px solid rgba(105, 200, 114, 1);
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: "+";
  text-align: center;
  line-height: 1em;
}

:checked ~ label.tree_label:before {
  content: "–";
  border: 2px solid rgba(232, 0, 0, 1);
  color: rgba(232, 0, 0, 1);
}
//Child l2 icon
label.label_l2:before {
  background: #fff;
  color: black;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: "+";
  text-align: center;
  line-height: 1em;
}

:checked ~ label.label_l2:before {
  content: "–";
}
/* Tree branches */
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.4em;
  display: block;
  width: 0;
  border-left: 2px solid #777;
  content: "";
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  content: "";
}

label.label_l2::after {
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  bottom: 0;
  left: -2.4em;
  top: -0.3em;
  bottom: 0.6em;
  height: auto;
}

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree > li:last-child:before {
  display: none;
}

::marker {
  color: transparent;
}

.status-component-fail {
  background-color: #e80000;
}

.status-component-success {
  background-color: #16c35b;
}

.status-bg-success {
  background-color: rgba(22, 195, 91, 0.1);
}

.status-bg-fail {
  background-color: rgba(232, 0, 0, 0.1);
}
