$sizes:-1,
0,1,2,3,4,5,6,7,8,9,10,
11,12,13,14,15,16,17,18,19,20,
21,22,23,24,25,26,27,28,29,30,
31,32,33,34,35,36,37,38,39,40,
41,42,43,44,45,46,47,48,49,50;

/**********************************************************
                    Border Property
 ***********************************************************/

// @each $size in $sizes {
    // .bdr-primary-#{$size}{
    //     border: #{$size}px solid $primary;
    // }

    // .bdr-secondary-#{$size}{
    //     border: #{$size}px solid $secondary;
    // }
    
    // .bdr-test-#{$size}{
    //     border: #{$size}px solid $test;
    // }
// }

/**********************************************************
                    Border Radius
 ***********************************************************/

@each $size in $sizes {
    .br-#{$size}{
        border-radius: #{$size}px;
    }
}

.no-bdr {
    border: none;
}
.no-outline{
    outline:none;
}

/**********************************************************
                    Depreciating
 ***********************************************************/
// 
.no-border {
    border: none;
}
      
@each $size in $sizes {
    .bdr-grey-#{$size}{
        border: #{$size}px solid $bordergrey;
    }

    .bdr-lightgrey-#{$size}{
        border: #{$size}px solid $borderlightgrey;
    }
    
    .bdr-white-#{$size}{
        border: #{$size}px solid $white;
    }
    
    .border-grey-#{$size}{
        border: #{$size}px solid $bordergrey;
    }
}