@import 'variables';

/**********************************************************
                         background color 
 ***********************************************************/
.bg-transparent{
    background: transparent;
}

.bg-w{
    background-color: $white;
}
.bg-lightblue{
    background-color: $LightBlue;
}
.bg-mategreen{
    background-color: $MateGreen;
}
.bg-mateBlue{
    background-color: $MateBlue;
}
.bg-DarkDesaturatedBlue{
    background-color: $DarkDesaturatedBlue;
}
.bg-MustardYellow{
    background-color: $ButtonMustardYellow;
}
.bg-red{
    background-color: $red;
}
.bg-green{
    background-color: $green;
}
.bg-lightgrey{
    background-color: $LightGrey;
}

.bg-grey{
    background-color: $grey;
}


// checkbox
.bg-checkbok-unchecked{
    background-color: #b9b9b9;
}


/**********************************************************
                    font color 
 ***********************************************************/
.f-white {
    color: $white;
}
.f-grey{
    color: $grey;
}
.f-darkgrey{
    color: $DarkGrey; 
}
.f-black{
    color: $black;
}
.f-blue{
    color: $DarkBlue;
}
.f-DarkDesaturatedBlue{
    color: $DarkDesaturatedBlue;
}