/**********************************************************
                       charts 
 ***********************************************************/
 /********************Pi charts***************/
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    box-shadow: none !important;
}

 /********************line charts***************/
.css-46bh2p-MuiCardContent-root{
    padding:0px !important;
}

.css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 0px !important;
}