.side-on-state {
  display: block;
}
.side-off-state {
  display: none;
}

.wd-sb-sm {
  width: 30% !important;
}
.wd-sb-md {
  width: 50% !important;
}
.wd-sb-lg {
  width: 70% !important;
}
.wd-sb-xl {
  width: 100% !important;
}

.sidebar {
  border-radius: 10px 10px 0px 0px;
  top: 0%;
  right: 23px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(240, 240, 240, 0.16), 0 2px 10px 0 rgba(139, 139, 139, 0.12);
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  margin-top: 82px;
}

.sidebar-body {
  padding: 0px;
  overflow: auto;
  height: 80%;
}

.sidebar-body::-webkit-scrollbar {
  width: 0.7em;
  left: -10px;
}
.sidebar-bar::-webkit-scrollbar:focus {
  width: 0.12em;
}
.sidebar-body::-webkit-scrollbar-track {
  background-color: rgb(236, 233, 233);
}

.sidebar-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

.sidebar-animation {
  position: relative;
  animation: animateopen 0.2s;
}

.column-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1f4173;
}
.column-data {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1f4173;
  padding-bottom: 10px;
}

@keyframes animateopen {
  from {
    right: -300px;
    opacity: 1;
  }
  to {
    right: 23px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .wd-sb-sm,
  .wd-sb-md,
  .wd-sb-lg,
  .wd-sb-xl {
    width: 100%;
  }
}
