/* Parent Container of Table  */

.titan-table {
  background: white;
  width: fit-content;
  height: auto;
  max-height: 62vh;
  color: #1f4173;
}

/* Table Header  */
// .titan-table-header {
//   display: flex;
//   flex-direction: row;
//   background-color: $white;
//   justify-content: space-evenly;
// }

.table-header-cell {
  font-size: 15px;
  line-height: 28px;
  color: #1f4173;
  cursor: pointer;
  text-align: left;
  align-items: center;
}

/* Table Rows */
.titan-table-rows {
  display: flex;
  flex-direction: row;
}
.titan-table-rows:last-child {
  border: none;
}

.table-cell {
  color: #1f4173;
  text-align: left;
}

.table-data-cell {
  font-size: 13px;
  line-height: 1em;
  height: 2em;
  overflow: hidden;
  word-wrap: break-word;
  color: #1f4173;
}

.table-data-cell-status {
  font-size: 13px;
  line-height: 1em;
  height: 2em;
  overflow: hidden;
  background: #00a389;
  border-radius: 100px;
  text-align: center;
  padding: 5px 10px;
  color: white;
}

.table-data-cell-status-neg {
  font-size: 13px;
  line-height: 1em;
  height: 2em;
  overflow: hidden;
  background: #ff5b5b;
  border-radius: 100px;
  text-align: center;
  padding: 5px 10px;
  color: white;
}

.table-checkbox-input-container {
  display: block;
  position: relative;
  top: 5px;
  left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    // position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.table-checkbox-input-container:hover input ~ .checkmark {
  background-color: rgba(204, 204, 204, 0.342);
}

.table-checkbox-input-container input:checked ~ .checkmark {
  border-radius: 3px;
  border: none;
  background-color: #00a389;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.table-checkbox-input-container input:checked ~ .checkmark:after {
  display: block;
}

.table-checkbox-input-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.pagination-holder {
  justify-content: flex-end;
}

.pagination-wrapper {
  align-self: flex-end;
  width: 25%;
}

.titan-table-fill {
  width: 100%;
  color: #1f4173;
}

.table-add-icon {
  &:hover {
    background-color: #110def;
    .add-icon-path {
      fill: white;
    }
  }
}
