@import 'variables';

/**********************************************************
          Transparent & translucent background
 ***********************************************************/
.bg-transparent{
    background-color:transparent;
}
.bg-translucent{
    background-color: $translucent-color;
}


/**********************************************************
                    Background Color
***********************************************************/
.bg-primary{
    background-color: $primary-color;
}
.bg-secondary{
    background-color: $secondary-color;
}
.bg-tertiary{
    background-color: $tertiary-color;
}


/**********************************************************
                        status color 
 ***********************************************************/
.bg-success{
    background-color: $success-color;
}
.bg-danger{
    background-color: $danger-color;
}
.bg-warning{
    background-color: $warning-color;
}
.bg-info{
    background-color: $info-color;
}