@import "variables";

/**********************************************************
          Transparent & translucent background
 ***********************************************************/
.bg-transparent {
  background-color: transparent;
}
.bg-translucent {
  background-color: $translucent-color;
}

/**********************************************************
                    Background Color
***********************************************************/
// theme blue
.bg-primary {
  background-color: $primary-color;
}
// theme grey
.bg-secondary {
  background-color: $secondary-color;
}
// theme navy blue
.bg-tertiary {
  background-color: $tertiary-color;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
// tab
.bg-tab {
  background-color: $tab-color;
}

// container
.bg-grey-container {
  background-color: $grey-container;
}
.bg-purple-container {
  background-color: $purple-container;
}
.bg-orange-container {
  background-color: $orange-container;
}
.bg-green-container {
  background-color: $green-container;
}
.bg-violet-container {
  background-color: $violet-container;
}
.bg-blue-light-container {
  background-color: $blue-light-container;
}
/**********************************************************
                        status color 
 ***********************************************************/
.bg-success {
  background-color: $success-color;
}
.bg-danger {
  background-color: $danger-color;
}
.bg-warning {
  background-color: $warning-color;
}
.bg-info {
  background-color: $info-color;
}

/**********************************************************
                    Shadow Color
***********************************************************/
.shw-white {
  box-shadow: $button-shadow-white;
}
.shw-violet {
  box-shadow: $button-shadow-violet;
}
