/**********************************************************
                       Overflow properties 
 ***********************************************************/
.overflow-x-hide {
  overflow-x: hidden;
}

.overflow-y-hide {
  overflow-y: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

/**********************************************************
                       Visibility & Display properties 
***********************************************************/
.v-visible {
  visibility: visible;
}

.v-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/**********************************************************
                       anchor tag  
 ***********************************************************/
.no-txt-deco {
  text-decoration: none;
}
.cp {
  cursor: pointer;
}

/**********************************************************
                Container & cards Layout 
 ***********************************************************/
$sizes:0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
  29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50;
@each $size in $sizes {
  .white-container-br-#{$size} {
    background-color: $white;
    box-shadow: 0px 4px 90px 12px rgba(163, 171, 185, 0.25);
    border-radius: #{$size}px;
  }
  .blue-container-br-#{$size} {
    background-color: $secondary-color;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .lightblue-container-br-#{$size} {
    background-color: $tertiary-color;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .grey-container-br-#{$size} {
    background-color: $grey-conatainer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .purple-container-br-#{$size} {
    background-color: $purple-container;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .orange-container-br-#{$size} {
    background-color: $orange-conatainer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .green-container-br-#{$size} {
    background-color: $green-conatainer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: #{$size}px;
  }
  .violet-container-br-#{$size} {
    background-color: $violet-conatainer;
    box-shadow: inset 0px 1.16712px 2.33425px rgba(97, 97, 97, 0.2), inset 0px 2.33425px 4.66849px rgba(97, 97, 97, 0.2);
    border-radius: #{$size}px;
  }
  .sticky-container-br-#{$size} {
    background-color: $sticky-grey;
    box-shadow:0px 4px 9px rgba(163, 171, 185, 0.5);
    border-radius: #{$size}px;
  }
}

/**********************************************************
                Table Tabs 
 ************************************************************/
.tab {
  padding: 10px 40px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  &:hover {
    background-color: $white;
  }
}


/**********************************************************
                       rotate-icon 
 ***********************************************************/
.rotate-icon {
  transform: rotate(180deg);
}


/**********************************************************
                      Switch
 ***********************************************************/
.switch:hover{
border-radius: 10px;
background-color: $white;
box-shadow: 0px 1.16712px 2.33425px rgba(191, 113, 15, 0.2), 0px 2.33425px 4.66849px rgba(191, 113, 15, 0.2);
padding: 15px 5px;
}


/**********************************************************
                      Deprecating: Dont use below code
 ************************************************************/

/**********************************************************
                       divider  
 ***********************************************************/
.divider-grey {
  border: 1px solid $divider-grey;
  border-radius: 5px;
  height: 0px;
}
.divider-white {
  border: 1px solid $tertiary-color;
  border-radius: 5px;
  height: 0px;
}
