/**********************************************************
                      
                    variables for colors 

***********************************************************/

/**********************************************************
                       Base colors
 ***********************************************************/
 $primary-color: #001833;
 $secondary-color: #F2F2F2;
 $tertiary-color: #110DEF;
 $white: #ffffff;
 $black: #000000;


/**********************************************************
                       Font colors 
 ***********************************************************/
$primary-font-color: #1F4173;
$secondary-font-color: #000000;
$tertiary-font-color: #ffffff;
$quaternary-font-color:#717070;


/**********************************************************
                       Status colors 
 ***********************************************************/
$success-color: #00A389;
$danger-color: #FF5B5B;
$warning-color: #FFBB54;
$info-color: #58CDFF;


/**********************************************************
                       border colors 
 ***********************************************************/
$border-primary-color: #E6EAF0;


/**********************************************************
                       Tanslucent colors 
 ***********************************************************/
$translucent-color: rgba(196, 196, 196, 0.24);


/**********************************************************
                       Button colors 
 ***********************************************************/
 $button-bg-color: #101010;


/**********************************************************
                       Box/card colors 
 ***********************************************************/
$button-shadow-color: #A3ABB9;
$checkbox-border-color: #C4C4C4;


/**********************************************************
                       Pagination colors 
 ***********************************************************/
$pagination-selected-color: rgba(17, 13, 239, 0.27);


/**********************************************************
                       Forms styles
 ***********************************************************/
$placeholder-color: red;
$checkbox-border-color: pink;