@import "../../../assets/scss/styles.scss";

.search-input-container {
  input {
    transition: all 0.75s ease-out;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }

  & > input::placeholder {
    color: $placeholder-color;
    font-size: 14px;
    font-weight: bold;
  }
}

.search-icon-container {
  justify-content: flex-end;
}
