.rows-per-page-box {
  background: #ffffff;
  border: 1.11839px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1f4173;
}

.row-dropdown {
  border: 0px;
  outline: 0px;
}
