// MUI styles override

.MuiBreadcrumbs-li {
  text-transform: capitalize !important;
  &>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16.403px;
    line-height: 20px;
  }
}
.css-1wuw8dw-MuiBreadcrumbs-separator{
  margin-right: 15px !important;
  margin-left: 15px !important;
}