.metadata-table-container {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
}

.drawer-toggle {
  margin-right: 32% !important;
}
