.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-left-button {
  padding: 10px 10px 5px;
  border: solid 1px #c2c2c2;
}

.pagination-right-button {
  padding: 10px 10px 5px;
  border: solid 1px #c2c2c2;
}

.page-number {
  flex: 1;
  padding: 10px 10px 10px;
  text-align: center;
  background-color: #354154;
  cursor: pointer;
}

.pagination-numbers {
  flex: 3;
  display: flex;
  align-items: center;
  margin-inline: 10px;
  border: solid 1px #c2c2c2;
}

.page-number {
  flex: 1;
  padding: 10px 10px 10px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}

.page-number span {
  font-size: 13px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgb(0, 0, 0);
}

.page-number-selected {
  flex: 1;
  padding: 10px 10px 10px;
  text-align: center;
  background-color: #354154;
  cursor: pointer;
}

.page-number-selected span {
  font-size: 13px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
