@import "../../../../assets/scss/styles.scss";

.dropdown {
  position: relative;
}

.dropdown-header {
  background-color: white;
  &:hover {
    background-color: $tertiary-color;
    .download-icon-path {
      fill: white;
    }
  }
}

.download-icon-path {
  fill: #001833;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
